<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GeoApteka">

    <test name="ListOfApteka">
        <classes>
            <class name="Tests.ShowListOfAptekas" />
        </classes>
    </test>

    <test name="Sort">
        <classes>
            <class name="Tests.SortTestForStartPage" />
        </classes>
    </test>

</suite>