<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="GeoApteka">

    <test name="Проверка списка аптек">
        <classes>
            <class name="tests.ShowListOfAptekas" />
        </classes>
    </test>

    <test name="Сортировка аптек по различным признакам">
        <classes>
            <class name="tests.AptekaTabTests" />
        </classes>
    </test>
</suite>

